/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*debug*/
.debug .container .login{
    background-color: #A1C8D5;
    height: 50px;
}
/*main*/
.container{
    max-width: 1000px;
} 

.login{
    display: flex;
    align-items: center;
    justify-content: center;
}

.login>div{
    background-color: yellow;
    border: 1px dashed black;
    width: 200px;
}

.login :nth-child(2) {
    text-align: center;
    width: 400px;
}

.login :nth-child(3) {
    text-align: end;
}